html {
    height: 100%;
}

main.container {
    background-color: #f2f2f2 !important;
}

.brand-logo img {
    height: 48px;
    margin-bottom: -12px;
    padding-right: 12px;
}

#ourNavBar {
    background-color: #388E3C !important;
}

#ourSecondRow .container {
    width: 85%;
}

#notification-container {
    width: 35%;
    min-width: 330px;
    max-width: 500px;
    margin-top: 60px;
    margin-right: 10px;
    right: 0;
    position: absolute;
    z-index: 1000;
}

.notification {
    display: none;
    width: 100%;
    background-color: #009688 !important;
    margin: 5px 10px 5px 5px;
}

.notification #card-content-text p:not(:last-child) {
    margin-bottom: 10px;
}

.card-action {
    border-top: 1px solid #B6B6B6 !important;
}

.card-action a {
    display: block;
    height: 24px;
}

.card i {
    color: #C8E6C9 !important;
    transition: transform 0.4s ease-in-out;
}

#card-title {
    font-size: 22px;
}

.card-sub-title {
    font-size: 18px;
}

.card-sample-data {
    margin-top: 10px;
}

#refresh-bitbucket-pages i:hover {
    transform: rotate(180deg);
}

#tracking-explanation i:hover {
    color: red !important;
}

.switch label::after {
    content: "\00a0\00a0";
}

#change-database-location {
    margin-top: 25px;
    background-color: #388E3C;
}

#databaseLocationRow {
    margin-top: 20px;
}

.input-field i {
    color: #388E3C !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #4CAF50 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #388E3C;
}

footer {
    margin-top: 0px !important;
    background-color: #4CAF50 !important;
}

footer .footer-copyright {
    background-color: #388E3C !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: -10px !important;
}

.acknowledgement {
    font-size: xx-small;
}

.explain-tracking-button {
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}

.privacy-settings .col {
    line-height: 32px;
}

.privacy-settings .row h3 {
    text-align: center;
}

.hidden-explain-button {
    visibility: hidden;
}

.optioncol{
    width: 50%;
}

footer.page_footer {
    padding-top: 0px;
}

footer.page_footer .container .row {
    margin-bottom: 0px;
}